body.page-loading {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.splash-screen {
  display: none;
}

.page-loading .splash-screen {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Inter, Helvetica, 'sans-serif';
  background-color: #f9f9f9;
  color: #5e6278;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
}

.page-loading .splash-screen span {
  color: #5e6278;
  transition: none !important;
  -webkit-font-smoothing: antialiased;
}

.page-loading .splash-screen img {
  margin-left: calc(100vw - 100%);
  margin-bottom: 30px;
  height: 30px !important;
}

html[data-bs-theme='dark'] .page-loading .splash-screen {
  background-color: #151521;
  color: #ffffff;
}

.splash-screen .dark-logo {
  display: none;
}

.splash-screen .light-logo {
  display: block;
}

html[data-bs-theme='dark'] .splash-screen .light-logo {
  display: none;
}

html[data-bs-theme='dark'] .splash-screen .dark-logo {
  display: block;
}

body {
  margin: 0;
}

.splash-screen--container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2000;
  background-color: #f0f0f0;
}

.splash-screen-backdrop {
  position: absolute;
  margin: auto;
  width: 600px;
  height: 350px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  top: calc(50% + 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: #606060 0 1px 20px;
}

.splash-screen--animation {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  overflow: hidden;
}

.splash-screen--logo-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.splash-screen--logo__absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.splash-screen--logo {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation-name: logoAnimation, logoLoadingAnimation;
  animation-iteration-count: 1, infinite;
  animation-duration: 0.5s, 6s;
  animation-delay: 0s, 1s;
  animation-timing-function: linear, ease-out;
  -webkit-animation-name: logoAnimation, logoLoadingAnimation;
  -webkit-animation-iteration-count: 1, infinite;
  -webkit-animation-duration: 0.5s, 6s;
  -webkit-animation-delay: 0s, 1s;
  -webkit-animation-timing-function: linear, ease-out;
  & svg {
    width: 100%;
    height: 100%;
  }
}

#splash-screen--rocket {
  opacity: 0;
  animation-delay: 0.25s;
  animation-name: rocketAnimation;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.25s;
  -webkit-animation-name: rocketAnimation;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}

.splash-screen--circle-container {
  position: absolute;
  height: 100vh;
  width: 200vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.splash-screen--circle {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #009cef;
  width: 150%;
  padding-bottom: 150%;
  opacity: 0;
  border-radius: 50%;
  transform-origin: center;
  animation-name: circleAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  -webkit-animation-name: circleAnimation;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
}

@keyframes circleAnimation {
  1% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  80% {
    transform: scale(0.02) translate(-2500%, -2500%);
    opacity: 1;
  }
  100% {
    transform: scale(0.02) translate(-2500%, -2500%);
    opacity: 0;
  }
}

@keyframes rocketAnimation {
  0% {
    opacity: 0;
    left: -7%;
    top: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
    top: 0;
  }
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
    top: 15%;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes logoText {
  0% {
    opacity: 0;
    top: 52.5%;
  }
  60% {
    opacity: 0;
    top: 52.5%;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes logoLoadingAnimation {
  0% {
    transform: rotateY(0deg);
  }
  15% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.splash-screen--logo-text {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: 75px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  animation-name: logoText;
  animation-duration: 1s;
}

.splash-screen--message {
  position: absolute;
  top: calc(50% + 160px);
  width: 550px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 5px 0;
  border-top: 1px solid #c0c0c0;
}
